
* {
	margin: 0;
	padding:0; 
}

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: black;
	color: white;
}


table {
	height: 100%;
	width: 100%;
	table-layout: static;
	border-collapse: collapse;
}

iframe {
	height: 100%;
	width: 100%;
}


#restpage {
	height:100%;
	background-color: white;
}